real_data/raw/harness_hendrycksTest_5/item_level_matrix_prompt_dedup.csv
real_data/raw/harness_hendrycksTest_5/item_level_matrix_prompt_dedup.part01.csv
real_data/raw/harness_hendrycksTest_5/item_level_matrix_prompt_dedup.part02.csv
real_data/raw/harness_hendrycksTest_5/item_level_matrix.csv
real_data/raw/harness_hendrycksTest_5/item_level_matrix.npy
real_data/raw/harness_hendrycksTest_5/item_level_matrix_model_index.csv
real_data/raw/harness_hendrycksTest_5/open_llm_leaderboard_old_contents.csv
